:root {
  --ls-font-family: sans-serif;
}

.inline,
.block-editor {
  font-family: sans-serif;
}

.CodeMirror {
  font-family: monospace;
}

.left-sidebar-inner {
  font-family: sans-serif;
}

h1.title,
h1.title input,
.title {
  font-family: serif;
  font-weight: 600;
}

:not(pre)>code {
  font-family: monospace;
}
