:root {
  --ls-font-family: 'Taurus Grotesk Trial', Inter, sans-serif;
}

.inline,
.block-editor {
  font-family: 'Taurus Grotesk Trial', Inter, sans-serif;
}

.CodeMirror {
  font-family: Iosevka Custom, monospace;
}

.left-sidebar-inner {
  font-family: 'Taurus Grotesk Trial', Inter, sans-serif;
}

h1.title,
h1.title input,
.title {
  font-family: 'Blanco Trial', 'Source Serif 4', serif;
  font-weight: 600;
}

:not(pre)>code {
  font-family: Iosevka Custom, monospace;
}
